table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  
  .example-card {
      width: 80%;
      margin-left: 8vw;
      padding:0rem !important;
      margin-top: 10vh;
  }

  .mat-card-header{
      background-color: #673ab7;
      padding-top:1rem;
      padding-bottom:1rem;
  }

  .mat-card-title {
      color:white !important;
  }